#employeeChart_div
{
  width: 1100px;
  height: 600px;
}

#adminChart_div
{
  width: 1200px;
  height: 700px;
}

.material-icons
{
  font-size: large;
}


/* @media (max-width: 320px) {
	#employeeChart_div {
	  width: 100%;
    height: 100%;
	}
  }

  @media (max-width: 375px) {
    #employeeChart_div {
      width: 100%;
      height: 100%;
  }
  }

  @media (max-width: 425px) {
    #employeeChart_div {
      width: 100%;
      height: 100%;
  }
  }

  @media (max-width: 768px) {
    #employeeChart_div {
      width: 100%;
      height: 100%;
  }
  }

  @media (max-width: 1024px) {
    #employeeChart_div {
      width: 100%;
      height: 100%;
  }
  } */




/*------------------------------------------------------------------
  [ Responsive ]
  
  @media (max-width: 576px) {
	.wrap-login100 {
	  padding: 77px 15px 33px 15px;
	}
  }
  */