#employeeChart_div
{
    width: 1100px;
    height: 600px;
}

#adminChart_div
{
  width: 1200px;
  height: 700px;
}
/*------------------------------------------------------------------
  [ Responsive ]
  
  @media (max-width: 576px) {
	.wrap-login100 {
	  padding: 77px 15px 33px 15px;
	}
  }
  */