#Options +FollowSymLinks
#activar motor de reescritura
RewriteEngine On  

#no sobreescribir directorios o ficheros si existen
#importante para css, js, imágenes, ...
RewriteCond %{SCRIPT_FILENAME} !-d 
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-l  

#regla de reescritura de la url
#RewriteRule ^(.+)*$ index.php?url=$1 [QSA,L]
#RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
